<nav class="navbar navbar-expand-md bg-dark navbar-dark p-3">
  <span class="navbar-brand mb-1 font-weight-bold text-"></span>
  <a class="navbar-brand" href="/"><img src="../images/Together we can Logo.png" class="img-thumbnail logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold back" href="/logout">LOGOUT</a>
      </li> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold back" href="/signup">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>