 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

{{!-- this section is where user will enter data --}}

<div id="Essential_Service_Service" class="row m-0 p-3">
      <div  class="col">
          <h3>Essential Service</h3>
          <div id="item_unActive"  class="col" ></div>
          <div class="row mt-5 d-flex justify-content-end  align-items-end">
              <div class="col-9 ">
                  <label>Enter text</label>
                  <input class="form-control" type="text">
              </div>
              <button onclick="add(this,'Essential_Service_Service')" style="width:120px;height:40px" class=" col-3 btn">Add</button>
          </div>
      </div>
      <div  class="col">
          <h3>Require Service</h3>
              <div id="item_Active"  class="col" ></div>

      </div>
</div>
<div id="Social_Service_Service" class="row m-0 p-3">
<div  class="col">
    <h3>Social Service</h3>
    <div id="item_unActive" class="col" >
        <div>
            <span>1 test test test testt</span>
            <input style="margin-left:15px" type="checkbox">
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-end  align-items-end">
        <div class="col-9 ">
            <label>Enter text</label>
            <input class="form-control" type="text">
        </div>
        <button onclick="add(this, 'Social_Service_Service')" style="width:120px;height:40px" class=" col-3 btn">Add</button>
    </div>
</div>
<div   class="col">
    <h3>Social Service</h3>
        <div id="item_Active" class="col" >
            <div>
                <span>1 test test test testt</span>
            </div>
        </div>

</div>
</div>
  