{{>header}}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner box text-center">
        <div class="carousel-item active">
            <img src="../images/img20.jpg" alt="First Slide">
            <div class="carousel-caption">
                <h1 class="display-2">Together We Can</h1>
                <br>
            </div>
        </div>

        <div class="row p-0 m-3">
        <div class="card m-1 bg-warning" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Cleaning Help</h5>
            <p class="card-text">Help Me clean the house.</p>
            <a onclick="addCard(this,'Essential_Service_Service', 'Help Me clean the house.')" href="#" class="card-link">Send</a>
          </div>
        </div>

        <div class="card m-1 bg-warning" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Groceries Help</h5>
            <p class="card-text">Help Me with the groceries.</p>
            <a onclick="addCard(this,'Essential_Service_Service', 'Help Me with the groceries.')" href="#" class="card-link">Send</a>
          </div>
        </div>

        <div class="card m-1" style="width: 18rem;">
          <div class="card-body bg-warning">
            <h5 class="card-title">Personal care Help</h5>
            <p class="card-text">Help Me with personal care.</p>
            <a onclick="addCard(this,'Essential_Service_Service', 'Help Me with personal care.')" href="#" class="card-link">Send</a>
          </div>
        </div>

        <div class="card m-1 bg-warning" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Transport Help</h5>
            <p class="card-text">Help Me with transport.</p>
            <a onclick="addCard(this,'Essential_Service_Service', 'Help Me with transport.')" href="#" class="card-link">Send</a>
          </div>
        </div>

</div>

<div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Social catching up</h5>
                    <p class="card-text">Help Me to catch up with friends</p>
                    <a onclick="addCard(this,'Social_Service_Service', 'Help Me to catch up with friends')" href="#" class="card-link">Send</a>
                  </div>
    </div>
    



<!-- This is the essential service section-->
        <div isCustomer="true" id="Essential_Service_Service" class="row m-0 p-3">
            <div  class="col">
                <h3>Essential Service</h3>
                <div id="item_unActive"  class="col" ></div>
                <div class="row mt-5 d-flex justify-content-end  align-items-end">
                    <div class="col-9 ">
                        <label>Enter text</label>
                        <input class="form-control" type="text">
                    </div>
                    <button onclick="add(this,'Essential_Service_Service')" style="width:120px;height:40px" class=" col-3 btn">Add</button>
                </div>
            </div>
            <!-- This is the require service section-->
            <div  class="col">
                <h3>Require Service</h3>
                 <div id="item_Active"  class="col" ></div>
            </div>
        </div>
        
        <div id="Social_Service_Service" class="row m-0 p-3">
            <div  class="col">
                <h3>Social Service</h3>
                <div id="item_unActive" class="col" >
                    <div>
                        <span>1 test test test testt</span>
                        <input style="margin-left:15px" type="checkbox">
                    </div>
                </div>
                <div class="row mt-5 d-flex justify-content-end  align-items-end">
                    <div class="col-9 ">
                        <label>Enter text</label>
                        <input class="form-control" type="text">
                    </div>
                    <button onclick="add(this, 'Social_Service_Service')" style="width:120px;height:40px" class=" col-3 btn">Add</button>
                </div>
            </div>
            <div   class="col">
                <h3>Social Service</h3>
                    <div id="item_Active" class="col" >
                        <div>
                            <span>1 test test test testt</span>
                        </div>
                    </div>

            </div>
        </div>

                    <table class="table p-5">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Task ID</th>
                          <th scope="col">Task Text</th>
                          <th scope="col">from</th>
                          <th scope="col">to</th>
                          <th scope="col">msg</th>
                          <th scope="col">state</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody id="requests_items">


                      </tbody>
                    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="../public/css/cards.css">

<script>


function addItem(data) {
     var el = $('#Essential_Service_Service');
     $(el).find('#item_Active').html('')
     $(el).find('#item_unActive').html('')


      var el = $('#Social_Service_Service');
          $(el).find('#item_Active').html('')
          $(el).find('#item_unActive').html('')


    for (var i in data) {
        // data has two type [Essential_Service_Service, Social_Service_Service]
        // each one of them has two type one is active and one is not active
        let {checked,
         email,
         id,
         title,
         type} = data[i];
         console.log(data[i])
            let el = $(`#${type}`);
            if (checked == "true") {
                if ($('#Essential_Service_Service').attr('isCustomer') == "true") {
                    let newItem = `
                                    <div id="${id}">
                                   <span>#${i} - ${title}</span>
                                   <input checked style="margin-left:15px" onclick="check(this,'${id}', '${type}')" state="on" type="checkbox">
                               </div>
                    `;
                                    $(el).find('#item_Active').html($(el).find('#item_Active').html() + newItem)

                } else {
                 let newItem = `
                        <div id="${id}">
                       <span>#${i} - ${title}, by ${email}</span>
                       <button onclick="sendReqs(this, '${id}', '${title}', '${email}')" class="btn btn-info">Send Request</button>
                   </div>
                                    `;

                $(el).find('#item_Active').html($(el).find('#item_Active').html() + newItem)
                }

            } else {

        if ($('#Essential_Service_Service').attr('isCustomer') == "true") {
            let newItem = `<div id="${id}">
                           <span>#${i} - ${title}</span>
                           <input style="margin-left:15px" onclick="check(this,'${id}', '${type}')" state="off" type="checkbox">
                       </div>`
                       $(el).find('#item_unActive').html($(el).find('#item_unActive').html() + newItem)
            } else {
                let newItem = `<div id="${id}">
                           <span>#${i} - ${title}, by ${email}</span>
                       </div>`
                       $(el).find('#item_unActive').html($(el).find('#item_unActive').html() + newItem)
            }

        }

    }
}


// this section add from the input box into the window
function add(el, type) {

    let value = $(el).prev().find('input').val();
     $.ajax({
        url : `/api/?GETreq=addItem&title=${value}&type=${type}`,
        success: function (d){
           init();
           $(el).prev().find('input').val('');


        }
    });
}

function checkToggle(el, type, state) {

    if (state == "off") {
        let newCopy = $(el).parent().clone();
        $(newCopy).find('input').attr('state', 'on')
        $(newCopy).appendTo($(`#${type}`).find('#item_Active'))
        $(el).parent().remove();
    } else {
         let newCopy =  $(el).parent().clone()
         $(newCopy).find('input').attr('state','off')
        $(newCopy).appendTo($(`#${type}`).find('#item_unActive'));
        $(el).parent().remove();
    }

}



function check(el, id, type) {
let state = $(el).attr('state');

        if (state == "off") {
                  $.ajax({
                    url : '/api/?GETreq=checkOn&id=' + id,
                    success: function (d){
                       d = JSON.parse(d);
                       checkToggle(el, type, state);


                    }
                });
            } else {
                     $.ajax({
                        url : '/api/?GETreq=checkOff&id=' + id,
                        success: function (d){
                           d = JSON.parse(d);
                           checkToggle(el, type, state);


                        }
                    });
                }

}


// this section display the added items into the dom window

function init()  {

        $.ajax({
            url : '/api/?GETreq=getAllMyItems',
            success: function (d){
               d = JSON.parse(d);
               addItem(d);
            }
        });

        $.ajax({
                   url : '/api/?GETreq=getAllMyRequest',
                   success: function (d){
                      d = JSON.parse(d);
                      addReqs(d);


                   }
               });
       }
       init()

</script>
