{{>header}}

<div class="jumbotron jumbotron-fluid">
  <h1>Welcome <span class="member-name"></span></h1>
  <p class="lead">The smallest act of kindness is worth more than the grandest intention.</p>
  {{!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> --}}
</div>
